
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}
 

header {
    background-color: rgba(0, 87, 214);
    color: #fff;
    text-align: center;
    border: 1px solid #ccc;
    padding: 0;
}

.timeline {
    max-width: 1900px;
    margin: 0 auto;
    padding: 80px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contenedor {
    display: flex;
    justify-content: center;
}

.event {
    margin-bottom: 2rem;
    border-left: 4px solid rgba(0, 87, 214);
    padding-left: 1rem;
    transition: background-color 0.3s ease;
}

.evento {
    margin-bottom: 2rem;
    padding-left: 1rem;
    transition: background-color 0.3s ease;
}

.event:hover {
    background-color: #f5f5f5;
}

.event h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: gray;
}

.event p {
    font-size: 1rem;
    color: #555;
}
.tabs {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
    display: flex;
    cursor: pointer;
    padding: 8px;
    background-color: #fff;
    color: #fff;
}
.container {
    display: flex;
    justify-content: space-around;
}

.texto {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
    font-size: 17px;
    color:gray;
    font-weight:normal;
    margin-left: 20px; 
    
}
.tab {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    flex: 1;
    padding: 3px;
    text-align: center;
    background-color: rgba(0, 87, 214);
    border: 1px solid #cccccc;
    color: #fff;
}
.tab-content {
    display: none;
    padding: 100px;
    border: 1px solid #ccc;
    border-top: none;
}
.tab-content.active {
    display: block;
}
